/* Colors */
$darkBlue: #1c202b;
$blue: #0a317b;
$blueJeans: #324971;
$darkGrayishBlue: #666970;
$grayishBlue: #787b82;
$lightBlueGray: #a2a5ae;
$lightGrayish: #f0ffff;
$veryLightGrayish: #f7fafd;
$orangeRed: #f65351;
$white: #ffffff;

/* Font */
$plus: 'Plus Jakarta Sans', sans-serif;

/* Mixins */
@mixin font-styling($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}