@import './reset';
@import './variaveis';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@import '../2-componentes/1-header';
@import '../2-componentes/2-notification';

body {
    font-family: $plus;
    @include font-styling($grayishBlue, 1rem, 500);

    max-width: 730px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    body {
        background-color: $veryLightGrayish;

        display: flex;
        flex-direction: column;
        margin: 0 auto;

        padding: 4rem 0 5.5rem 0;
    }
}