/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
/* Font */
/* Mixins */
/* Colors */
/* Font */
/* Mixins */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
.header__notifications {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header__notifications__title {
  color: #1c202b;
  font-size: 1.25rem;
  font-weight: 800;
}
.header__notifications__count {
  color: #f7fafd;
  font-size: 1rem;
  font-weight: 800;
  background-color: #0a317b;
  border-radius: 8px;
  padding: 0.375rem 0.75rem;
}
.header__mark-all {
  color: #666970;
  font-size: 0.875rem;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.header__mark-all:hover {
  color: #0a317b;
}

/* Colors */
/* Font */
/* Mixins */
.main {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-top: 2.5rem;
  margin-bottom: 2.75rem;
}
.main .card__notification {
  border-radius: 0.625rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  gap: 14px;
}
.main .card__notification__img {
  width: 40px;
  height: 40px;
}
.main .card__notification .notification__content {
  line-height: 1.125rem;
}
.main .card__notification .notification__content__name {
  color: #1c202b;
  font-size: 0.875rem;
  font-weight: 800;
}
.main .card__notification .notification__content__action {
  color: #666970;
  font-size: 0.875rem;
  font-weight: 500;
  margin-left: 0.25rem;
}
.main .card__notification .notification__content__title {
  color: "";
  font-size: 0.875rem;
  font-weight: 800;
  margin-left: 0.25rem;
}
.main .card__notification .notification__content__title.post {
  color: #666970;
}
.main .card__notification .notification__content__title.club {
  color: #324971;
}
.main .card__notification .notification__content__icon {
  display: inline-block;
  background-color: #f65351;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 0.25rem;
}
.main .card__notification .notification__info {
  margin-top: 0.375rem;
}
.main .card__notification .notification__info__date {
  color: #a2a5ae;
  font-size: 0.875rem;
  font-weight: 500;
}
.main .card__notification .notification__private {
  border: 1px solid #E2E6E9;
  border-radius: 6px;
  padding: 1.125rem 1rem;
  margin-top: 0.75rem;
}
.main .card__notification .notification__private__message {
  color: #787b82;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
}
.main .card__notification.unread {
  background-color: #f7fafd;
}
.main .card__notification.read {
  background-color: transparent;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #787b82;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
}/*# sourceMappingURL=base.css.map */