@import '../1-base/variaveis';

.header {
    border: 1px solid $lightGrayish;
    border-bottom: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 1rem 0 1rem;

    &__notifications {
        display: flex;
        align-items: center;
        gap: .625rem;

        &__title {
            @include font-styling($darkBlue, 1.25rem, 800);
            cursor: pointer;
        }

        &__count {
            @include font-styling($veryLightGrayish, 1rem, 800);

            background-color: $blue;
            border-radius: 8px;
            cursor: pointer;
            padding: .375rem .75rem;
        }
    }

    &__mark-all {
        @include font-styling($grayishBlue, .875rem, 600);
        background: none;
        border: none;

        cursor: pointer;

        padding: 0;

        &:hover {
            color: $blue;
        }
    }
}

@media screen and (min-width: 768px) {
    .header {
        background-color: $white;
        border-radius: .875rem .875rem 0 0;

        padding: 2.25rem 2rem 0 2rem;

        &__notifications {   
            gap: .75rem;

            &__title {
                @include font-styling('', 1.5rem, '');
            }
        }

        &__mark-all {
            @include font-styling('', 1rem, '');
        }
    }
}